<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
        <title>GingerLlama</title>

        <!-- Bootstrap core CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar navbar-inverse">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <p class="navbar-text" id="clock">Countdown</p>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Logged in as {{session['username']}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{url_for('settings')}}">Settings</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="col-md-12">
            {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            </div>
            <!-- lists_dic exists -->
            {% if lists %}
            {% for list in lists%}
            <div class="col-md-6">
              <div class="panel panel-info">
                  <div class="panel-heading clearfix">
                      <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                          {{list.title}}
                      </h3>
                      <div class="btn-group pull-right">
                          <button type="button" class="btn btn-danger btn-sm delete-list-btn" data-toggle="modal" data-target=".confirm-modal" data-placement="top" title="Delete">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                          </button>
                      </div>
                      <form method="POST" action="/deletelist" class="delete-form">
                          <input type="hidden" name="list-id" value="{{list.id}}">
                      </form>
                  </div>
                  <div class="panel-body">
                      <ul class="list-group">
                          {% for item in list.listitems %}
                          {% if item.check == False %}
                          <li class="list-group-item">
                              {{ item.title }}
                              <div class="btn-group pull-right" role="group" aria-label="...">
                                  <button type="button" class="btn btn-success btn-xs check-btn" aria-label="Left Align">
                                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                  </button>
                                  <button type="button" class="btn btn-danger btn-xs delete-btn" data-toggle="modal" data-target=".confirm-modal">
                                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                  </button>
                              </div>
                              <form method="POST" action="/delete" class="delete-form">
                                  <input type="hidden" name="item-id" value="{{item.id}}"/>
                                  <input type="hidden" name="list-id" value="{{item.list_id}}">
                              </form>
                              <form method="POST" action="/check" class="check-form">
                                  <input type="hidden" name="item-id" value="{{item.id}}"/>
                                  <input type="hidden" name="list-id" value="{{item.list_id}}">
                                  <input type="hidden" name="check" value="true"/>
                              </form>
                          </li>
                          {% endif %}
                          {% if item.check == True %}
                          <li class="list-group-item list-group-item-success strike-through">
                              {{ item.title }}
                              <div class="btn-group pull-right" role="group" aria-label="...">
                                  <button type="button" class="btn btn-info btn-xs check-btn" aria-label="Left Align">
                                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                  </button>
                                  <button type="button" class="btn btn-danger btn-xs delete-btn" data-toggle="modal" data-target=".confirm-modal">
                                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                  </button>
                              </div>
                              <form method="POST" action="/delete" class="delete-form">
                                  <input type="hidden" name="item-id" value="{{item.id}}"/>
                                  <input type="hidden" name="list-id" value="{{item.list_id}}">
                              </form>
                              <form method="POST" action="/check" class="check-form">
                                  <input type="hidden" name="item-id" value="{{item.id}}"/>
                                  <input type="hidden" name="list-id" value="{{item.list_id}}">
                                  <input type="hidden" name="check" value="false"/>
                              </form>
                          </li>
                          {% endif %}
                          {% endfor %}
                          <li class="list-group-item">
                              <form action="/new" method="post" class="form-inline">
                                  <div class="form-group">
                                      <input type="hidden" name="list-id" value="{{list.id}}"/>
                                      <div class="input-group">
                                          <input type="text" name="item" class="form-control" placeholder="Add more stuff...">
                                          <span class="input-group-btn">
                                              <button class="btn btn-info new-btn" type="submit">Add!</button>
                                          </span>
                                      </div>
                                  </div>
                              </form>
                          </li>
                      </ul>

                  </div>
              </div>
          </div>
            {% endfor %}

            <!-- .modal -->
            <div class="modal fade confirm-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Confirm Delete</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
            {% endif %}
            <!-- /lists_dic exists -->
            <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form action="/newlist" method="post" class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="title" class="form-control" placeholder="Add a new list...">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit">Add!</button>
                                </span>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

        <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="static/js/jquery-2.2.1.min.js"></script>
            <script src="static/js/bootstrap.min.js"></script>
            <script src="static/js/jquery.countdown.min.js"></script>
            <script src="static/js/script.js"></script>
    </body>
</html>
