<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <title>GingerLlama</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/signup.css" rel="stylesheet">

</head>
<body>
    <div class="container panel panel-default">
        <form class="form-signin" method="POST">
            <h2 class="form-signin-heading">Create an account</h2>
            <label for="inputUsername" class="sr-only">Username</label>
            <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus maxlength="80">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address (not required)" maxlength="120">
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </span>
                <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
            </span>
            <input name="password2" type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>

            {% with messages = get_flashed_messages(with_categories = True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}} alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
    </div>
    <div class="container panel panel-default" style="margin-top: 10px">
      Already have an account? <a href="/login">Login!</a>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="static/js/jquery-2.2.1.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/jquery.countdown.min.js"></script>
        <script src="static/js/signup.js"></script>
    </body>
</html>
